*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 36px;
    color: #fff;
}
h2{
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.cantainer{
    width: 100%;
    max-width: 1200px;
}
ul{
    list-style-type: none;
}
 ul>li{
     font-size: 24px;
     padding: 10px;
 }
 ul>li:hover{
     font-size: 24px;
     font-weight: 700;
     color: maroon;
 }
 .header-inner{
     background-color: black;
     width: 100%;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .main-inner{
     width: 100%;
     display: flex;
 }
 .aside-left{
     width: 30%;
     height: 700px;
     padding: 20px 40px;
     background-color: rgb(247,226, 37);
 }
 .aside-right{
     width: 70% ;
     height: 700px;
     padding: 25px ;
 }